<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onezhan.mapper.BookMapper">
    <insert id="addBook" parameterType="Book">
        INSERT INTO second_hand.book (name, type_id, price, isbn, detail, seller_id, release_time, purchased)
        VALUES (#{name}, #{typeId}, #{price}, #{isbn}, #{detail}, #{sellerId}, NOW(), 0)
    </insert>
    <select id="getAll" resultType="Book">
        SELECT * FROM second_hand.book;
    </select>
    <select id="searchBooks" resultType="Book">
        SELECT * FROM second_hand.book WHERE name LIKE #{content}
    </select>
</mapper>
